/* app/assets/stylesheets/custom.css */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}
#main-title {
  text-align: center;
}

h1 {
  color: #007bff;
  margin-bottom: 30px;
}

.form-weather {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-info {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-info h2 {
  color: #343a40;
  margin-bottom: 20px;
}

.weather-info p {
  font-size: 18px;
  margin: 10px 0;
}

.text-muted {
  font-size: 14px;
  margin-top: 10px;
  color: green;
}
.alert-danger {
  color: red;
}
/* app/assets/stylesheets/application.scss */
.extended-forecast {
  margin-top: 20px;
}

.extended-forecast .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.extended-forecast .card-header {
  background-color: #f0f0f0;
  font-weight: bold;
}

.extended-forecast .card-body {
  padding: 10px;
}

.extended-forecast .card-title {
  margin-bottom: 5px;
}

.extended-forecast .card-text {
  color: #666;
}
